

<nav class="navbar sticky-sm-top fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">
      <img src="..\assets\images\hojita.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
      <b class="fs-4 m-3">Livezenda</b>
      
    </a>
    
    
    
    <a class="navbar-brand f-right ">
      <div class="dropdown max_footer bg-dark " width="">
        
      </div> 
    </a>
    <a class="navbar-brand f-right ">
      <div class="dropdown max_footer bg-dark " width="">
       
      </div> 
    </a>
    <a class="navbar-brand f-right ">
      <div class="dropdown max_footer bg-dark " width="">
       
      </div> 
    </a>
 
    <a class="navbar-brand f-right " >
      <div class="dropdown max_footer bg-dark " width="">
        <i class="bi bi-chat-dots m-4"></i>
        <i class="bi bi-person-fill m-4"></i>
        <i class="bi bi-bell m-4"></i>
        
      </div> 
    </a>
    
    
    <div class="dropdown  bg-dark">
      
      <button class="btn btn-outline-secondary min_footer dropdown-toggle  bg-dark" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false" *ngIf="userLogged|async as user">

        
        <a class="navbar-brand" *ngIf="userLogged|async as user">
          <img style="border-radius:100%" *ngIf="user.photoURL" alt="" [src]="user.photoURL" width="30"
            class="d-inline-block align-text-top">
          <!-- {{user.displayName? user.displayName : user.email}}    -->
        </a>
      </button>


      <ul class="dropdown-menu dropdown-menu-end bg-dark " aria-labelledby="dropdownMenuButton1">


        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="dropdown-item " style="color:#a8a8a8">
              <div  class="container p-2" [routerLink]="['/perfil']">
              Mi perfil
              </div>
            </a>
          </li>
          <li>
            <a class="dropdown-item " style="color:#a8a8a8" href="/feed">
              <div  class="container p-2">
              <i class="bi bi-newspaper"></i>
              Noticias
            </div>
            </a>
          </li>
          <li>
            <a class="dropdown-item " style="color:#a8a8a8">
              
              <div  class="container p-2">
              <i class="bi bi-envelope"></i>
              Mensajería
            </div>
            </a>
          </li>

          <li>
            <a class="dropdown-item " style="color:#a8a8a8" (click)="userLogOut()" routerLink="/inicio">

              <div  class="container p-2">
              <i class="bi bi-person"></i>
              Cambiar cuenta
            </div>
            </a>
          </li>
        </ul>
        <hr>
        <div class="d-flex flex-column  flex-shrink-0 text-white bg-dark">
          <a class="dropdown-item " style="color:#a8a8a8" (click)="userLogOut()">
           <div class="container  p-2">
            <i class="bi bi-power"></i>
            <span class="fs-4 m-2">salir</span>
           </div>   
          </a>
        </div>

        

      </ul>
    </div>
    
  </div>
  
</nav>



<script>
document.querySelectorAll('#nav-tab>[data-bs-toggle="tab"]').forEach(el => {
  el.addEventListener('shown.bs.tab', () => {
    const target = el.getAttribute('data-bs-target')
    const scrollElem = document.querySelector(`${target} [data-bs-spy="scroll"]`)
    bootstrap.ScrollSpy.getOrCreateInstance(scrollElem).refresh()
  })
})
</script>