<app-navbar></app-navbar>

<!--

  <div class="social-buttons mt-5"> 
              <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button> 
              <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button> 
              <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button> 
              <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button> 
              <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button> 
          </div>
      
-->