<div class="modal fade " id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content sombra2" style="border-radius: 20px;">

      <form name="form" #form="ngForm" [formGroup]=crear_nota (ngSubmit)=" actualizarNota()">

        <div class="modal-body ">
          <div>
            <h4>
              <i class="bi bi-pencil-square w-100 m-2">
              </i>Editar Nota

              <i class="bi bi-x-lg pos" [routerLink]="['/feed']" data-bs-dismiss="modal"></i>
            </h4>

          </div>

          <input style="border-radius: 15px ;" id="nombre" type="text" formControlName="nombre_nota"
            [(ngModel)]="this.notaService.selectedNota.nombre_nota" placeholder="Nuevo Título"
            class="form-control red-input  p-2 " aria-label="Username">

          <div class="p-2">

            <!--[(ngModel)]= "nuevaDescripcion" -->

            <textarea style="border-radius: 8px;" class="  p-2 form-control " formControlName="descripcion"
              [(ngModel)]="this.notaService.selectedNota.descripcion" eholder="" rows="15" id="message">
                  </textarea>
          </div>

          <div class="container">

            <button type="button" class="btn btn-outline-secondary m-1 p-2" (click)="notainfo()"  >Limpiar</button>
            

            <button type="submit" class="btn btn-outline-primary end-0 p-2" [routerLink]="['/feed']"
              data-bs-dismiss="modal">Guardar</button>

          </div>
        </div>
      </form>


    </div>

  </div>
</div>


<ng-template #eliminarNota let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Atención</h5>
      <i class="bi bi-x-lg pos2"  (click)="modal.close()" ></i>
    </div>
    <div class="modal-body">
      vas a eliminar la nota
     
     
    </div>
    <button type="button" class="btn btn-outline-light pos3" (click)="modal.close()" (click)="aceptar()">aceptar</button>
  </div>

</ng-template>


<ng-template #notaInfo let-modal>
 <!-- Scrollable modal -->
 <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>



<div class="toast-container position-fixed bottom-0 end-0 p-3">

  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>


</ng-template>