textarea{
    
   
    background: transparent;
    border: none;
    outline: none;
}
::placeholder { color: blue; }  


.bordeboton{
    border-radius: 12px
}
.sombra2{
    box-shadow: 1px 1px rgb(48, 99, 59), -0.2em 0 0.4em rgb(166, 209, 173);
 }