
#fondo{
    background-image: url("https://i.pinimg.com/originals/c0/ce/c3/c0cec3d25f6f97bf9ee390b1d1f61555.jpg");
    width:100vw;
    height:100vh; 
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
   
}

.inner  {
    text-align: center;
    position: relative;

    justify-content: center;
}

