#omos {
    text-align: center;
   
   
}

#fpapel {
    height:auto;
    text-align: center;

}
#fondo{
    height: auto;
    background-color: rgb(243, 243, 243);
}
#fondoP{
   height: auto;
   background-color: rgb(199, 49, 49);
}
 .sombra{
    box-shadow: 1px 1px rgb(184, 236, 195), -0.2em 0 0.4em rgb(166, 209, 173);
 }

 .sombra2{
    box-shadow: 1px 1px rgb(48, 99, 59), -0.2em 0 0.4em rgb(166, 209, 173);
 }
 .comentarios{
    
    position: relative;
    
 }

 .posder{
    right: -20px;
 }

 .martop{
   margin-top: 56px;
 }
 .box-input input{ border-left: 7px solid transparent;}